<h1><%= @article.title %></h1>

<p>
  <%= @article.content %>
</p>

<p>
  by <%= @author.username %>
</p>

<hr>

<h2>Comments</h2>

<table>
  <tbody>
    <% if @comments != nil %>
      <% @comments.each do |comment| %>
        <tr>
          <td>
            <p>
              <%= comment.contents %>
            </p>
            <p>
              by <strong><%= comment.author %></strong>
            </p>
            <% if user_signed_in? && current_user.id == comment.user_id %>
              <%= link_to 'Edit', edit_comment_path(comment) %> |
              <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
    <% if user_signed_in? %>
      <tr>
        <td>
          <%= render 'comment_form' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>
<% if user_signed_in? && current_user.id == @article.author_id %>
<%= link_to 'Edit Article', edit_article_path(@article) %> |
<% end %>
<%= link_to 'Back', articles_path %>
