<!DOCTYPE html>
<html>
<head>
  <title>RailsBlogForStudy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p id="notice"><%= notice %></p>
  <p id="alert"><%= alert %></p>

  <ul class="hmenu">
    <li><%= link_to "Top", blogs_path %></li>
    <%= render 'devise/menu/registration_items' %>
    <%= render 'devise/menu/login_items' %>
  </ul>

  <%= yield %>

</body>
</html>
